[submodule "source/twix.js"]
	path = source/twix.js
	url = git@github.com:icambron/twix.js.git
	branch = master
[submodule "build"]
	path = build
	url = git@github.com:icambron/twix.js.git
	branch = gh-pages
